* {
    box-sizing: border-box;
    margin: 0;
}

/* input {
    -webkit-appearance: none;
} */

.main {
    border: 5px solid #e06666;
    color: white;
    margin: 3rem auto;
    display: flex;
    border-radius: 2rem;
    max-width: 1100px;
    max-height: 600px;
    background-color: black;
    width: 90%
}

.left-side {
    width: 50%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    display: block;
    margin: auto;
    width: 90%;
    max-height: 100%;
    
}

.right-side {
    width: 50%;
}

.right-side h1 {
    font-family: 'Share Tech Mono';
    text-align:center;
    padding: 1rem;
}

.right-side > p {
    text-align: center;
    font-weight: 600;
    font-family: 'Share Tech Mono';
}

form {
    align-content: center;
    margin: 0 auto;
    width: 80%;
}

form * {
    font-family: "Rubik";
}

form p {
    font-weight: 600;
    padding: 10px 0 3px 0;
}

form label {
    font-weight: 600;
    padding: 10px 0 3px 0;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item input {
    line-height: 2rem;
    border-radius: 0.25rem;
    max-width: 300px;
    width: 100%;
}

.form-item-checkbox label{
    padding: 0.2rem;
    font-weight: 300;
}

.send {
    text-align: center;
}

.send button {
    font-weight: 900;
    margin: 2rem auto;
    min-width: 150px;
    padding: 0.5rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
    .main {
        display: block;
        border: none;
    }
    .left-side {
        width: 100%;
        height: 350px;
    }
    .right-side {
        width: 100%;
    }
}


